@import "reset"
@import "variables"
@import "theme/light"

.app
  font: var(--font-text)
  color: var(--neutral500)

button
  font: var(--font-text)
  color: var(--neutral500)

a
  font: var(--font-text)
  color: var(--neutral500)

input
  font: var(--font-text)
  color: var(--neutral500)
