:root
  $gotham-fonts-path: "../fonts/gotham"

  @font-face
    font-family: "Gotham-Regular"
    src: url($gotham-fonts-path+"/gothampro_regular.ttf")

  $font-size-text: 16px
  // $font-line-text: 22px
  --font-text: #{$font-size-text} "Gotham-Regular"

  --hover-opacity: 0.8

  --overlay-z-index: 100
  --modal-z-index: 1000

  --overlay-color: rgba(0 0 0 / 60%)

  --navbar-height: 80px
