.chartCard
  display: flex
  flex-direction: column
  background-color: var(--neutral100)
  width: 300px
  height: 350px
  cursor: pointer
  transition: all 0.2s

  &:hover
    outline: 1px solid var(--neutral500)
    box-shadow: 5px 8px 5px 5px var(--neutral500)

  .title
    text-align: center
    background-color: var(--neutral200)
    min-height: 22px
    padding: 20px
    overflow: hidden
    text-overflow: ellipsis

  .description
    flex: 1
    background-color: var(--neutral300)
    padding: 20px
